@model src_web.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Core Sim Fun";
}

<div class="row">
    <div class="col-md-6">
        <h2>Debug</h2>
        <ul>
            @foreach (var OneEvent in Model.SimEvents)
            {
            <li>@OneEvent.EventTime (@OneEvent.EventType.ToString()): @(OneEvent.Message ?? "No Message")</li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Info</h2>
        <ul>
            <li>Tick Count: @Model.Info.TickCount</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Test Message</h2>
        <p>@Model.TestMessage</p>
    </div>
</div>
